/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
$color: #F0F0F0;
$font-stack: 'Lato', sans-serif;
$desert: #FEE8D6;

html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Helvetica Neue', Arial, sans-serif;
	// color:#444;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align: top;
}
a {
	color: rgba(255,239,213, 0.7);
	text-decoration:none;
}
.nav a:hover {
	color:#888;
	border-bottom: 1px solid #444;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.container {
	max-width:100%;
	margin:0 auto;
	position:relative;
	background-color: #3B3A49;
}
/*nav starts here*/
.nav {
	position: fixed;
	top: 0;
	z-index: 3;
	display: inline-block;
	width: 100%;	
	background-color: #222;
	text-align: right;
	padding-right: 2.65%;
}
.nav ul li {
	font-size: 2.8rem;
	display: inline;
	font-family: Helvetica Neue, sans-serif;
	text-decoration: none;
	a {
		margin: 0% 1%;
	}
}
// reveal contains the hero + grid
.reveal {
	background-image: url(img/sands.jpg);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow: hidden;
	width: 100%;
}
/* header */
.hero {
	position: relative;
	z-index: 2;
	width: 100%;
	text-align: center;
	margin: 30% 0;
	pointer-events: none;
}
.grid {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
}
.grid span {
	background: #FFE4B5;
	background-attachment: fixed;
	display: block;
	width: 5%;
	height:20px;
	float: left;
	border:1px solid rgba(0,0,0,0.03);
}
.grid span.filled {
    background: transparent;
}
/* nav */
// .page-template-front-page-php {
// 	background: white;
// }
// .page-template-front-page-php .hentry {
// 	padding-top: 100px;
// }
// .page-template-front-page-php .hentry p {
// 	font-size: 70px;
// 	font-weight: 900;
// 	-webkit-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	background-image: url('img/santamonica.jpg');
// }
// .page-template-front-page-php h1 {
// 	display: none;
// }

// .about {
// 	background-color: black;
// }
// .content {
// 	background-color: lightgray;
// 	font-family: $font-stack;
// }
h1 {
	color: $color;
	font-size: 3.2rem;
	font-weight: 400;
	// text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	font-family: $font-stack;
	width: 100%;
	// text-transform: uppercase;
	letter-spacing: 10%;	
}
p {
	font: white;
	font-family: $font-stack;
	font-size: 1.6rem;
}
.bioPic {
	width: 30%;
	border-radius: 50%;
	margin: 0% 35%;
}
.about {
	background-color: white;
	padding: 1%;	
	p {
	width: 98%;
	font-size: 2.4rem;
	letter-spacing: 0.5px;
	padding: 5% 15%;
	border-top: 1px solid lightgray;
	text-align: center;
	}
.hackeryou ul li {
	font-family: $font-stack;
	text-align: center;
	color: black;
	width: 32%;
	display: inline-block;
	}
}
.fa {
	color: #70AEA8;
}
.portfolioItem {
	background-color: #222;
	font-weight: 400;
	width: 31%;
	float: left;
	margin: 1%;

	h1	{
		color: rgba(255, 239, 213, 0.7);
		padding-top: 2%;
	}
	p 	{
		color: white;
	}
}
.facts {
	position:relative;
	background-color: white;
	clear: both;
	max-width: 100%;
	padding: 0% 6%;
	h1 {
		color: #000000;
		padding: 2% 1%;
		margin: 1% 1%;
	}
.fact1,
.fact2,
.fact3	{
	position: relative;
	z-index: 1;
	width: 31%;
	display: inline-block;
	float: left;
	border: 1px solid black;
	margin: 1% 1%;
	}
	img {
		width: 100%;
	}
}
	.factone {
		// display: none;
		position: absolute;
		z-index: 2;
		list-style-type: none;
		font-family: $font-stack;
		font-size: 3.2rem;
		background-color: rgba(224, 224, 224, 0.9);
		color: #888;
		width: 100%;
		// height: 130%;
		// margin: 1% 1%;
		padding: 5% 4% 0 2%;
		text-align: center;
		top:0;
		left:0;
}
	.facttwo {
		// display: none;
		position: absolute;
		z-index: 2;
		list-style-type: none;
		font-family: $font-stack;
		font-size: 3.2rem;
		background-color: rgba(224, 224, 224, 0.9);
		color: #888;
		width: 100%;
		// height: 130%;
		// margin: 1% 1%;
		padding: 5% 4% 0% 2%;
		text-align: center;
		top:0;
		left:0;
}
	.factthree {
		// display: none;
		position: absolute;
		z-index: 2;
		list-style-type: none;
		font-family: $font-stack;
		font-size: 3.2rem;
		background-color: rgba(224, 224, 224, 0.9);
		color: #888;
		width: 100%;
		// height: 174%;
		// margin: 1% 1%;
		padding: 5% 0%;
		text-align: center;
		top:0;
		left:0;
}
// .factone:hover,
// .facttwo:hover,
// .factthree:hover {
// 	display: block;
// }
// /* sidebar */
// .sidebar {
// 	background-color: white;
// 	clear: both;
// }
/* footer */
.contactInfo {
	clear: both;
	font-family: Helvetica;
	background-color: #222;
	color: white;
	font-size: 2.2rem;
	border-top: 1px solid lightgray;
}
.emailLink {
	font-size: 2.2rem;
	text-align: center;
	a {
	color: rgba(255,239,213, 0.7);
	text-decoration:none;
	}
	a:hover {
		color:#888;
	}
	a:focus {
		outline:0;
	}
	a:hover,
	a:active {
		outline:0;
	}
	input:focus {
		outline:0;
		border:1px solid #04A4CC;
	}
}
.social ul{
	margin: 0 auto;
    width: 20%;

}
.social ul li{
	color: rgba(255, 239, 213, 0.7);
	list-style: none;
	display: inline-block;
	width: 20%;
	padding-top: 2%;
	i.fa:hover {
		color: #B4C3A0;
	}
}
.footer {
	background-color: #222;
	color: #444;
	clear: both;
	p {
		margin: 0 auto;
		text-align: center;
		padding-top: 3%;
	}
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width:449px) {

.nav ul {
	padding: 0%;
}

}
@media only screen and (max-width:480px) {
// .nav {
// 	background-color: red;
// 	position: fixed;
// 	top: 0;
// 	z-index: 3;
// 	display: inline-block;
// 	width: 98%;	
// 	color: white;
// 	text-align: center;
// 	font-size: 1.2rem;
// }
.about {
	background-color: blue;
	padding: 1%;	
	p {
	width: 98%;
	font-size: 1.4rem;
	letter-spacing: 0.5px;
	padding: 2% 10%;
	border-top: 1px solid lightgray;
	text-align: center;
	}
.hackeryou ul li {
	background-color: red;
	clear: both;
	font-family: $font-stack;
	color: black;
	width: 33%;
	display: inline-block;
	}
}

// .nav li:hover {
// 	display:block;				
// }

// .nav ul {
// 	display:inline;
// 	position: relative;
// }

// .nav ul {
// 	background:#00E0FF;
// 	color:white;
// 	display:none;
// 	position: absolute;
// }

// 	ul.nav li ul li {
// 		display:list-item; /* Set the sub navs list items back */
// .nav ul li {
// 	font-size: 2.8rem;
// 	display: inline;
// 	font-family: Helvetica Neue, sans-serif;
// 	text-decoration: none;
// 	a {
// 		margin: 0% 1%;
// 	}
// }
.portfolioItem {
	background-color: black;
	// border: 1px double white;
	width: 98%;
	height: 200px;
	border: 3px double white;
	margin: 1%;
}

.blogItem {
	background-color: pink;
	width: 98%;
	height: 100%;
	margin: 1%;
}
@media only screen and (max-width:462px) {
.nav {
	background-color: lightgray;
	position: fixed;
	top: 0;
	z-index: 3;
	display: inline-block;
	width: 100%;	
	text-align: center;
	ul li a {
		width: 20%;
	}
}

}
@media only screen and (max-width:768px) {
// a {
// 	// color: rgba(255,239,213, 0.7);
// 	color: red;
// 	text-decoration:none;
// }
.nav a:hover {
	// color:#888;
	color:#333;
	border-bottom: 1px solid #444;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}	
.about {
	background-color: white;
	padding: 1%;	
	p {
	width: 98%;
	font-size: 2.4rem;
	letter-spacing: 0.5px;
	padding: 5% 15%;
	border-top: 1px solid lightgray;
	text-align: center;
	}
	.hackeryou ul li {
		font-family: $font-stack;
		text-align: center;
		font-size: 1.0rem;
		color: blue;
		max-width: 30%;
		display: inline-block;
		p {
			font-size: 1.4rem;
		}
	}
}
.fa {
	color: #70AEA8;
}
}
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:1140px) {

}
@media only screen and (max-width:1297px) {
.hackeryou ul li {
	width: 30%;
	border: none;
	margin: none;
}

}
@media only screen and (max-width: 400px){
	  
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
}