/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}

body {
  font: 300 11px/1.4 'Helvetica Neue', Arial, sans-serif;
}

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: rgba(255, 239, 213, 0.7);
  text-decoration: none;
}

.nav a:hover {
  color: #888;
  border-bottom: 1px solid #444;
}

a:hover {
  color: #444;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* wrapper */
.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #3B3A49;
}

/*nav starts here*/
.nav {
  position: fixed;
  top: 0;
  z-index: 3;
  display: inline-block;
  width: 100%;
  background-color: #222;
  text-align: right;
  padding-right: 2.65%;
}

.nav ul li {
  font-size: 2.8rem;
  display: inline;
  font-family: Helvetica Neue, sans-serif;
  text-decoration: none;
}
.nav ul li a {
  margin: 0% 1%;
}

.reveal {
  background-image: url(img/sands.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* header */
.hero {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  margin: 30% 0;
  pointer-events: none;
}

.grid {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.grid span {
  background: #FFE4B5;
  background-attachment: fixed;
  display: block;
  width: 5%;
  height: 20px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.grid span.filled {
  background: transparent;
}

/* nav */
h1 {
  color: #f0f0f0;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 100%;
  letter-spacing: 10%;
}

p {
  font: white;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.bioPic {
  width: 30%;
  border-radius: 50%;
  margin: 0% 35%;
}

.about {
  background-color: white;
  padding: 1%;
}
.about p {
  width: 98%;
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  padding: 5% 15%;
  border-top: 1px solid lightgray;
  text-align: center;
}
.about .hackeryou ul li {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: black;
  width: 32%;
  display: inline-block;
}

.fa {
  color: #70AEA8;
}

.portfolioItem {
  background-color: #222;
  font-weight: 400;
  width: 31%;
  float: left;
  margin: 1%;
}
.portfolioItem h1 {
  color: rgba(255, 239, 213, 0.7);
  padding-top: 2%;
}
.portfolioItem p {
  color: white;
}

.facts {
  position: relative;
  background-color: white;
  clear: both;
  max-width: 100%;
  padding: 0% 6%;
}
.facts h1 {
  color: #000000;
  padding: 2% 1%;
  margin: 1% 1%;
}
.facts .fact1,
.facts .fact2,
.facts .fact3 {
  position: relative;
  z-index: 1;
  width: 31%;
  display: inline-block;
  float: left;
  border: 1px solid black;
  margin: 1% 1%;
}
.facts img {
  width: 100%;
}

.factone {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  background-color: rgba(224, 224, 224, 0.9);
  color: #888;
  width: 100%;
  padding: 5% 4% 0 2%;
  text-align: center;
  top: 0;
  left: 0;
}

.facttwo {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  background-color: rgba(224, 224, 224, 0.9);
  color: #888;
  width: 100%;
  padding: 5% 4% 0% 2%;
  text-align: center;
  top: 0;
  left: 0;
}

.factthree {
  position: absolute;
  z-index: 2;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  background-color: rgba(224, 224, 224, 0.9);
  color: #888;
  width: 100%;
  padding: 5% 0%;
  text-align: center;
  top: 0;
  left: 0;
}

/* footer */
.contactInfo {
  clear: both;
  font-family: Helvetica;
  background-color: #222;
  color: white;
  font-size: 2.2rem;
  border-top: 1px solid lightgray;
}

.emailLink {
  font-size: 2.2rem;
  text-align: center;
}
.emailLink a {
  color: rgba(255, 239, 213, 0.7);
  text-decoration: none;
}
.emailLink a:hover {
  color: #888;
}
.emailLink a:focus {
  outline: 0;
}
.emailLink a:hover,
.emailLink a:active {
  outline: 0;
}
.emailLink input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

.social ul {
  margin: 0 auto;
  width: 20%;
}

.social ul li {
  color: rgba(255, 239, 213, 0.7);
  list-style: none;
  display: inline-block;
  width: 20%;
  padding-top: 2%;
}
.social ul li i.fa:hover {
  color: #B4C3A0;
}

.footer {
  background-color: #222;
  color: #444;
  clear: both;
}
.footer p {
  margin: 0 auto;
  text-align: center;
  padding-top: 3%;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 449px) {
  .nav ul {
    padding: 0%;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    background-color: blue;
    padding: 1%;
  }
  .about p {
    width: 98%;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    padding: 2% 10%;
    border-top: 1px solid lightgray;
    text-align: center;
  }
  .about .hackeryou ul li {
    background-color: red;
    clear: both;
    font-family: "Lato", sans-serif;
    color: black;
    width: 33%;
    display: inline-block;
  }

  .portfolioItem {
    background-color: black;
    width: 98%;
    height: 200px;
    border: 3px double white;
    margin: 1%;
  }

  .blogItem {
    background-color: pink;
    width: 98%;
    height: 100%;
    margin: 1%;
  }

  /*------------------------------------*\
      MISC
  \*------------------------------------*/
  ::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
  }

  ::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
  }

  ::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
  }

  /*------------------------------------*\
      WORDPRESS CORE
  \*------------------------------------*/
  .alignnone {
    margin: 5px 20px 20px 0;
  }

  .aligncenter,
  div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
  }

  .alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }

  .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }

  a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }

  a img.alignnone {
    margin: 5px 20px 20px 0;
  }

  a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }

  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
  }

  .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
  }

  .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
  }

  .wp-caption.alignright {
    margin: 5px 0 20px 20px;
  }

  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }

  .wp-caption .wp-caption-text,
  .gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
  }

  /*------------------------------------*\
      PRINT
  \*------------------------------------*/
}
@media only screen and (max-width: 480px) and (max-width: 462px) {
  .nav {
    background-color: lightgray;
    position: fixed;
    top: 0;
    z-index: 3;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .nav ul li a {
    width: 20%;
  }
}
@media only screen and (max-width: 480px) and (max-width: 768px) {
  .nav a:hover {
    color: #333;
    border-bottom: 1px solid #444;
  }

  a:hover {
    color: #444;
  }

  a:focus {
    outline: 0;
  }

  a:hover,
  a:active {
    outline: 0;
  }

  input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
  }

  .about {
    background-color: white;
    padding: 1%;
  }
  .about p {
    width: 98%;
    font-size: 2.4rem;
    letter-spacing: 0.5px;
    padding: 5% 15%;
    border-top: 1px solid lightgray;
    text-align: center;
  }
  .about .hackeryou ul li {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 1.0rem;
    color: blue;
    max-width: 30%;
    display: inline-block;
  }
  .about .hackeryou ul li p {
    font-size: 1.4rem;
  }

  .fa {
    color: #70AEA8;
  }
}
@media only screen and (max-width: 480px) and (max-width: 1297px) {
  .hackeryou ul li {
    width: 30%;
    border: none;
    margin: none;
  }
}
